Add support for HTTP Datagrams (RFC 9297)

I want to use lsquic as the server and quic-go as the client.
However, quic-go supports HTTP/3 (RFC 9114), including QPACK (RFC 9204) and HTTP Datagrams (RFC 9297). However, in lsquic, I did not see HTTP Datagrams (RFC 9297). 

@1511563371, a proposed implementation now exists as PR #614.  Please have a look at the APIs and provide comments.