Support for L4S, as in RFC-9330 and RFC-9331 (RFC9330 RFC9331)


The lsquic source seems to properly parse the Explicit Congestion bits of the IP header. For instance lsquic_int_types.h has: `/* RFC 3168 */  enum ecn { ECN_NOT_ECT=0, ECN_ECT1=1, ECN_ECT0=2, ECN_CE=3, };` and the source makes use of ECN_CE which is explicitly defined in RFC-9330 RFC-9331.

However RFC-9330 RFC-9331 are not mentioned in the commit logs or code comments.

For background these RFCs explain Low Latency, Low Loss, and Scalable Throughput (L4S) which gives a more fine-grained "saw-tooth" in congestion scenarios, thus providing a sub-millisecond jitter experience for users.  See youtube.com/watch?v=GyXwvRKW0QE

Therefore I am interested if lsquic officially supports these RFCs.

Thank you



> Currently, ECN support ...

Thank you
